@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-brand-deep: #0f3d26;
  --color-brand-primary: #14532d;
  --color-brand-secondary: #1f7a4c;
  --color-brand-light: #eaf7f0;
  --color-brand-accent: #22c55e;

  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}

@plugin "daisyui" {
  themes: light --default, dark;
}

[data-theme="light"] {
  --color-base-100: #f5f6f8;
  --color-base-200: #ffffff;
  --color-base-300: #f3f4f6;

  --color-primary: #14532d;
  --color-primary-content: #ffffff;
}

[data-theme="dark"] {
  --color-base-100: #0b0f0c;
  --color-base-200: #121714;

  --color-primary: #22c55e;
  --color-primary-content: #0f3d26;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #14532d40;
  border-radius: 10px;
}