@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* Brand Colors from Design */
  --color-brand-deep: #0e4d31;
  --color-brand-primary: #1a5d3e;
  --color-brand-light: #e8f5ee;
  --color-brand-accent: #34d399;
}

@plugin "daisyui" {
  themes:
    light --default,
    light;
}

/* [data-theme="light"] {
    --color-base-100: #f3f4f6;
    --color-base-200: #ffffff;
    --color-primary: #1a5d3e;
    --color-primary-content: #ffffff;
  }

  [data-theme="dark"] {
    --color-base-100: #0a0c0b;
    --color-base-200: #141816;
    --color-primary: #34d399;
    --color-primary-content: #0e4d31;
  } */

/* Custom scrollbar to match the clean aesthetic */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #1a5d3e55;
  border-radius: 10px;
}

.bg-color {
  @apply bg-[linear-gradient(360deg,#1f6f4a,#0f3d2a)] hover:cursor-pointer;
}

button,
a {
  @apply hover:cursor-pointer!;
}

.btn-hover {
  @apply transition-all duration-500 ease-linear hover:bg-[linear-gradient(360deg,#fff,#fff)] hover:text-brand-primary hover:outline-1 hover:outline-brand-primary
}